<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Add Designation</strong>
          <small>Form</small>
          <button class="btn btn-primary" style="float:right"> <a [routerLink]="['/designation']"> Designation </a> </button>
        </div>
        <div class="card-body">
          <form #designationForm="ngForm" (ngSubmit)="addDesignation(designationForm)"> 
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Designation Name</label>
                <input type="text" class="form-control" id="designationName" name="designationName" #shiftName="ngModel"
                [(ngModel)]="designationService.selectedDesignation.designationName" placeholder="Enter designation name">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <input type="submit" class="btn btn-success" value="Submit">
                </div>
              </div>
          </div><!--/.row-->
        </form>                       
        </div>
      </div>
    </div><!--/.col-->
  
  </div><!--/.row-->
</div>